<a href="https://colab.research.google.com/github/CatarinaL/ddosLogs/blob/master/ddos_logs_logit_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import numpy as np
import pandas as pd
from scipy.io import arff
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [35]:
#/content/drive/MyDrive/datasets/ddosLogs/final-dataset.arff
np.random.seed(123)
file = "/content/drive/MyDrive/datasets/ddosLogs/final-dataset.arff"

data, meta = arff.loadarff(file)
df = pd.DataFrame(data=data)
df.info

<bound method DataFrame.info of          SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED     PKT_CLASS
0           3.00    24.30  ...         50.021920     b'Normal'
1          15.00    24.15  ...         50.030211     b'Normal'
2          24.15    15.00  ...         50.060221  b'UDP-Flood'
3          24.90     9.00  ...         50.060098     b'Normal'
4          24.80     8.00  ...         50.061864     b'Normal'
...          ...      ...  ...               ...           ...
2160663    24.10    10.00  ...         50.040562     b'Normal'
2160664    24.12    12.00  ...         50.051067     b'Normal'
2160665     1.00    24.10  ...         50.013418     b'Normal'
2160666     5.00    24.50  ...         50.027339     b'Normal'
2160667    15.00    24.15  ...         50.030211     b'Normal'

[2160668 rows x 28 columns]>

In [36]:
df

         SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED     PKT_CLASS
0           3.00    24.30  ...         50.021920     b'Normal'
1          15.00    24.15  ...         50.030211     b'Normal'
2          24.15    15.00  ...         50.060221  b'UDP-Flood'
3          24.90     9.00  ...         50.060098     b'Normal'
4          24.80     8.00  ...         50.061864     b'Normal'
...          ...      ...  ...               ...           ...
2160663    24.10    10.00  ...         50.040562     b'Normal'
2160664    24.12    12.00  ...         50.051067     b'Normal'
2160665     1.00    24.10  ...         50.013418     b'Normal'
2160666     5.00    24.50  ...         50.027339     b'Normal'
2160667    15.00    24.15  ...         50.030211     b'Normal'

[2160668 rows x 28 columns]

In [37]:
#decode byte strings to remove the "b" before the srting values at cols PKT_CLASS, NODE_NAME_FROM, NODE_NAME_TO, FLAGS, PKT_TYPE 
df["PKT_CLASS"] = df["PKT_CLASS"].apply(lambda x: x.decode('utf-8')) 
df["NODE_NAME_FROM"] = df["NODE_NAME_FROM"].apply(lambda x: x.decode('utf-8')) 
df["NODE_NAME_TO"] = df["NODE_NAME_TO"].apply(lambda x: x.decode('utf-8')) 
df["FLAGS"] = df["FLAGS"].apply(lambda x: x.decode('utf-8')) 
df["PKT_TYPE"] = df["PKT_TYPE"].apply(lambda x: x.decode('utf-8')) 

df

         SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED  PKT_CLASS
0           3.00    24.30  ...         50.021920     Normal
1          15.00    24.15  ...         50.030211     Normal
2          24.15    15.00  ...         50.060221  UDP-Flood
3          24.90     9.00  ...         50.060098     Normal
4          24.80     8.00  ...         50.061864     Normal
...          ...      ...  ...               ...        ...
2160663    24.10    10.00  ...         50.040562     Normal
2160664    24.12    12.00  ...         50.051067     Normal
2160665     1.00    24.10  ...         50.013418     Normal
2160666     5.00    24.50  ...         50.027339     Normal
2160667    15.00    24.15  ...         50.030211     Normal

[2160668 rows x 28 columns]

In [38]:
df.describe()
df.isnull().values.any()

False

In [39]:
df["PKT_CLASS"] = df["PKT_CLASS"].astype('category')
df["NODE_NAME_FROM"] = df["NODE_NAME_FROM"].astype('category') 
df["NODE_NAME_TO"] = df["NODE_NAME_TO"].astype('category') 
df["FLAGS"] = df["FLAGS"].astype('category') 
df["PKT_TYPE"] = df["PKT_TYPE"].astype('category')

In [40]:
df["SRC_ADD"] = df["SRC_ADD"].astype('int64')
df["DES_ADD"] = df["DES_ADD"].astype('int64')
df["PKT_ID"] = df["PKT_ID"].astype('int64')
df["FROM_NODE"] = df["FROM_NODE"].astype('int64')
df["TO_NODE"] = df["TO_NODE"].astype('int64')
df["FID"] = df["FID"].astype('int64')

In [41]:
df.dtypes

SRC_ADD                int64
DES_ADD                int64
PKT_ID                 int64
FROM_NODE              int64
TO_NODE                int64
PKT_TYPE            category
PKT_SIZE             float64
FLAGS               category
FID                    int64
SEQ_NUMBER           float64
NUMBER_OF_PKT        float64
NUMBER_OF_BYTE       float64
NODE_NAME_FROM      category
NODE_NAME_TO        category
PKT_IN               float64
PKT_OUT              float64
PKT_R                float64
PKT_DELAY_NODE       float64
PKT_RATE             float64
BYTE_RATE            float64
PKT_AVG_SIZE         float64
UTILIZATION          float64
PKT_DELAY            float64
PKT_SEND_TIME        float64
PKT_RESEVED_TIME     float64
FIRST_PKT_SENT       float64
LAST_PKT_RESEVED     float64
PKT_CLASS           category
dtype: object

copying the df to one with target dummy variable (y), leaving original intact

In [51]:
df2 = df.copy()

X = df2.iloc[:, 0:-1]
y = df2.iloc[:, [-1]]

In [52]:
X

         SRC_ADD  DES_ADD  ...  FIRST_PKT_SENT  LAST_PKT_RESEVED
0              3       24  ...        1.000000         50.021920
1             15       24  ...        1.000000         50.030211
2             24       15  ...        1.030045         50.060221
3             24        9  ...        1.030058         50.060098
4             24        8  ...        1.030054         50.061864
...          ...      ...  ...             ...               ...
2160663       24       10  ...        1.030013         50.040562
2160664       24       12  ...        1.030026         50.051067
2160665        1       24  ...        1.000000         50.013418
2160666        5       24  ...        1.000000         50.027339
2160667       15       24  ...        1.000000         50.030211

[2160668 rows x 27 columns]

In [53]:
y

         PKT_CLASS
0           Normal
1           Normal
2        UDP-Flood
3           Normal
4           Normal
...            ...
2160663     Normal
2160664     Normal
2160665     Normal
2160666     Normal
2160667     Normal

[2160668 rows x 1 columns]

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

#TODO dummy variables w/ WoE

In [ ]:
#TODO normalize

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

In [56]:
#TODO:  instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

ValueError: ignored