<a href="https://colab.research.google.com/github/CatarinaL/ddosLogs/blob/master/ddos_logs_logit_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
from scipy.io import arff
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [4]:
#/content/drive/MyDrive/datasets/ddosLogs/final-dataset.arff

file = "/content/drive/MyDrive/datasets/ddosLogs/final-dataset.arff"

data, meta = arff.loadarff(file)
df = pd.DataFrame(data=data)
df.info

<bound method DataFrame.info of          SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED     PKT_CLASS
0           3.00    24.30  ...         50.021920     b'Normal'
1          15.00    24.15  ...         50.030211     b'Normal'
2          24.15    15.00  ...         50.060221  b'UDP-Flood'
3          24.90     9.00  ...         50.060098     b'Normal'
4          24.80     8.00  ...         50.061864     b'Normal'
...          ...      ...  ...               ...           ...
2160663    24.10    10.00  ...         50.040562     b'Normal'
2160664    24.12    12.00  ...         50.051067     b'Normal'
2160665     1.00    24.10  ...         50.013418     b'Normal'
2160666     5.00    24.50  ...         50.027339     b'Normal'
2160667    15.00    24.15  ...         50.030211     b'Normal'

[2160668 rows x 28 columns]>

In [15]:
df

         SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED     PKT_CLASS
0           3.00    24.30  ...         50.021920     b'Normal'
1          15.00    24.15  ...         50.030211     b'Normal'
2          24.15    15.00  ...         50.060221  b'UDP-Flood'
3          24.90     9.00  ...         50.060098     b'Normal'
4          24.80     8.00  ...         50.061864     b'Normal'
...          ...      ...  ...               ...           ...
2160663    24.10    10.00  ...         50.040562     b'Normal'
2160664    24.12    12.00  ...         50.051067     b'Normal'
2160665     1.00    24.10  ...         50.013418     b'Normal'
2160666     5.00    24.50  ...         50.027339     b'Normal'
2160667    15.00    24.15  ...         50.030211     b'Normal'

[2160668 rows x 28 columns]

In [22]:
#decode byte strings to remove the "b" before the srting values at cols PKT_CLASS, NODE_NAME_FROM, NODE_NAME_TO, FLAGS, PKT_TYPE 
df["PKT_CLASS"] = df["PKT_CLASS"].apply(lambda x: x.decode('utf-8')) 
df["NODE_NAME_FROM"] = df["NODE_NAME_FROM"].apply(lambda x: x.decode('utf-8')) 
df["NODE_NAME_TO"] = df["NODE_NAME_TO"].apply(lambda x: x.decode('utf-8')) 
df["FLAGS"] = df["FLAGS"].apply(lambda x: x.decode('utf-8')) 
df["PKT_TYPE"] = df["PKT_TYPE"].apply(lambda x: x.decode('utf-8')) 

df

         SRC_ADD  DES_ADD  ...  LAST_PKT_RESEVED  PKT_CLASS
0           3.00    24.30  ...         50.021920     Normal
1          15.00    24.15  ...         50.030211     Normal
2          24.15    15.00  ...         50.060221  UDP-Flood
3          24.90     9.00  ...         50.060098     Normal
4          24.80     8.00  ...         50.061864     Normal
...          ...      ...  ...               ...        ...
2160663    24.10    10.00  ...         50.040562     Normal
2160664    24.12    12.00  ...         50.051067     Normal
2160665     1.00    24.10  ...         50.013418     Normal
2160666     5.00    24.50  ...         50.027339     Normal
2160667    15.00    24.15  ...         50.030211     Normal

[2160668 rows x 28 columns]

In [14]:
df.describe()
df.isnull().values.any()

False

In [23]:
df["PKT_CLASS"] = df["PKT_CLASS"].astype('category')
df["NODE_NAME_FROM"] = df["NODE_NAME_FROM"].astype('category') 
df["NODE_NAME_TO"] = df["NODE_NAME_TO"].astype('category') 
df["FLAGS"] = df["FLAGS"].astype('category') 
df["PKT_TYPE"] = df["PKT_TYPE"].astype('category')

In [27]:
df["SRC_ADD"] = df["SRC_ADD"].astype('int64')
df["DES_ADD"] = df["DES_ADD"].astype('int64')
df["PKT_ID"] = df["PKT_ID"].astype('int64')
df["FROM_NODE"] = df["FROM_NODE"].astype('int64')
df["TO_NODE"] = df["TO_NODE"].astype('int64')
df["FID"] = df["FID"].astype('int64')

In [28]:
df.dtypes

SRC_ADD                int64
DES_ADD                int64
PKT_ID                 int64
FROM_NODE              int64
TO_NODE                int64
PKT_TYPE            category
PKT_SIZE             float64
FLAGS               category
FID                    int64
SEQ_NUMBER           float64
NUMBER_OF_PKT        float64
NUMBER_OF_BYTE       float64
NODE_NAME_FROM      category
NODE_NAME_TO        category
PKT_IN               float64
PKT_OUT              float64
PKT_R                float64
PKT_DELAY_NODE       float64
PKT_RATE             float64
BYTE_RATE            float64
PKT_AVG_SIZE         float64
UTILIZATION          float64
PKT_DELAY            float64
PKT_SEND_TIME        float64
PKT_RESEVED_TIME     float64
FIRST_PKT_SENT       float64
LAST_PKT_RESEVED     float64
PKT_CLASS           category
dtype: object